.search-form {
  --searchButtonWidth: 75px;
 
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: 40%;
}

.search-input {
  border: 0;
  margin: 0;
  padding: 0.5rem calc(var(--searchButtonWidth) + 0.5rem) 0.5rem 0.5rem;
  border-radius: 8px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 13px;
  left: 40%;
  
}
.search-input:focus {
  outline: 0;
  background: white;
  left: 40%;
  
}
.search-input:not(:placeholder-shown) ~ .search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
  left: 100%;
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 10px;
  position: absolute; 
  top: 0;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  background: #11a820;
  color: white;
  font-size: 16px;
  height: 100%;
  bottom: 50%; 
  line-height: 0.9;
  border-bottom: 0px solid #000;  
}
.search-button:focus {
  outline: 0;
  background: #0e8c1b;
}

body {
  margin: 10rem;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}